.child-profile-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: lightseagreen;
  height: 100%;
}
.graphics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#avatar {
  height: 150px;
  width: 150px;
}

.child-profile-p {
  font-size: 20px;
  text-indent: 5rem;
}
div > .edit-profile-button {
  background-color: white;
}

.spendingGraph {
  width: 25%;
}
