.profile-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: lightseagreen;
}
.graphics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#avatar {
  height: 150px;
  width: 150px;
}
p {
  font-size: 20px;
  text-indent: 5rem;
}
div > .button {
  background-color: white;
}
