.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightseagreen;
}
#avatar {
  height: 150px;
  width: 150px;
}
.profile-container p {
  font-size: 20px;
  text-indent: 5rem;
}
.profile-container div > .button {
  background-color: white;
}
