#createJoinFamily {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(226, 225, 225);
  height: 100%;
}

.createJoin {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 40%;
  background-color: white;
}

#createJoinFamily h4 {
  text-align: center;
}

.createJoin button {
  /* border: none;
  outline: none;
  font-size: large;
  color: white;
  background-color: rgb(194, 194, 194);
  padding: 10px;
  margin: 10px; */
}

/* .createJoin input,
.passwordInput {
  margin-bottom: 20px;
  border: 1px black solid;
  padding: 10px;
  outline: none;
  color: black;
  font-size: large;
  margin: 10px;
  width: auto;
  height: auto;
} */

/* .createJoin label {
  color: rgb(153, 147, 147);
  margin-left: 10px;
  font-size: large;
} */

#switchToJoinFamily {
  color: rgb(255, 102, 0);
}

#switchToJoinFamily:hover {
  color: black;
  cursor: default;
}

/* .createJoin h6 {
  padding: 10px;
} */
