#login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(226, 225, 225);
  height: 100%;
}

#login-wrapper h4 {
  text-align: center;
}

#login {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 40%;
  background-color: white;
  height: 55vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* #login button {
  border: none;
  outline: none;
  font-size: large;
  color: white;
  background-color: rgb(194, 194, 194);
  padding: 10px;
  margin: 10px;
} */

#login input {
  /* margin-bottom: 20px;
  border: 1px black solid;
  padding: 10px;
  outline: none;
  color: black;
  font-size: large;
  margin: 10px;
  width: auto;
  height: auto; */
}

#login label {
  /* color: rgb(153, 147, 147);
  margin-left: 10px;
  font-size: large; */
}

#takeMeToSignUp {
  color: rgb(255, 102, 0);
}

#takeMeToSignUp:hover {
  color: black;
  cursor: default;
}

#login small {
  margin-left: 10px;
  color: rgb(94, 94, 94);
  align-self: center;
}

#login label {
  font-family: main;
}
