#navbar-wrapper {
  width: 100%;
}

#navbar {
  background-color: hotpink;
  position: fixed;
}

#navbar-links-wrapper {
  display: flex;
  margin-left: auto;
}
#settings {
  height: 25px;
  width: 25px;
}
