#navbar-wrapper {
  width: 100%;
}

#navbar {
  background-color: white;
  position: fixed;
  color: black;
}

#navbar-links-wrapper {
  display: flex;
  margin-left: auto;
}
#settings {
  height: 25px;
  width: 25px;
}

#navbar a {
  margin-left: 20px;
}

#logoIT {
  color: #3e6bff;
  font-family: mainBold;
}

#logoITparent {
  color: #00bcd4;
  font-family: mainBold;
}

#navLogo {
  font-size: larger;
  font-family: mainBold;
}
