#signup-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  background-color: lightgray;
  height: 100%;
}

#signup {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 40%;
  background-color: white;
}

#signup h4 {
  align-self: center;
}

#signupProgress {
  display: inline-grid;
  grid-template-columns: 33% 33% 33%;
  width: 25%;
  align-self: center;
  margin-top: 30px;
}

#signupOne {
  display: inline-block;
  border-bottom: 3px white solid;
  width: 94%;
}

#signupTwo {
  display: inline-block;
  border-bottom: 3px black solid;
  width: 94%;
}

#signup input {
  /* margin-bottom: 20px;
  border: 1px black solid;
  padding: 10px;
  outline: none;
  color: black;
  font-size: large;
  margin: 10px;
  width: auto;
  height: auto; */
}

/* #signup label {
  color: rgb(153, 147, 147);
  margin-left: 10px;
  font-size: large;
} */

/* #signup button {
  border: none;
  outline: none;
  font-size: large;
  color: white;
  background-color: rgb(194, 194, 194);
  padding: 10px;
  margin: 10px;
} */

#firstLastSignup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#firstLastSignup div {
  display: flex;
  flex-direction: column;
}
