#wishListWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lightgray;
}

#wishListCardWrapper {
  width: 650px;
  height: 600px;
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

#wishListCardWrapper .title {
  margin-bottom: 1rem;
}

#wishListCardWrapper img {
  object-fit: contain;
  height: 400px;
  width: 400px;
}

#itemImage {
  align-self: flex-start;
}

#itemRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  height: 400px;
  margin-bottom: 3rem;
}

#itemInfo {
  width: 30%;
  height: 400px;
}

.itemValues {
  padding: 5px;
}

#itemDescriptionWrapper {
  height: 247px;
  overflow-y: auto;
}

#buttonRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wishListFormBox {
  width: 100%;
  margin-bottom: 2rem;
}

body
  > div.MuiDialog-root
  > div.MuiDialog-container.MuiDialog-scrollPaper
  > div
  > div.MuiDialogContent-root
  > form
  > div:nth-child(2),
body
  > div.MuiDialog-root
  > div.MuiDialog-container.MuiDialog-scrollPaper
  > div
  > div.MuiDialogContent-root
  > form
  > div:nth-child(4),
body
  > div.MuiDialog-root
  > div.MuiDialog-container.MuiDialog-scrollPaper
  > div
  > div.MuiDialogContent-root
  > form
  > div:nth-child(6),
body
  > div.MuiDialog-root
  > div.MuiDialog-container.MuiDialog-scrollPaper
  > div
  > div.MuiDialogContent-root
  > form
  > button,
body
  > div.MuiDialog-root
  > div.MuiDialog-container.MuiDialog-scrollPaper
  > div
  > div.MuiDialogContent-root
  > div {
  margin-bottom: 1rem;
}

#calculatorButtons {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-bottom: 1rem;
}

#calculatorButtons * {
  width: 120px;
}

.wishListFormInput {
  width: 100%;
  border: none;
}

#changeWishListTitle {
  font-size: large;
  width: 400px;
}

#wishListTextAreaEdit {
  height: 234px;
}

#purchased-tag {
  margin-left: 3rem;
  color: indianred;
}

#wishListTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
}

#wishListContent {
  background-color: lightgray;
}

#sortWishList {
  align-self: center;
}

#wishListSelector {
  display: flex;
  align-items: center;
}

#wishListSelector span {
  font-size: larger;
}

#withdrawBoxItems {
  display: flex;
  flex-direction: column;
}

#makeNewWishButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#makeAWishDialog > div.MuiDialog-container.MuiDialog-scrollPaper > div {
  padding: 1rem;
}

#wishListDropdown {
  z-index: 100;
}

#wishDropdownContent {
  position: absolute;
  display: none;
  padding: 10px;
  border-radius: 3px;
  margin-top: 1px;
  background-color: rgb(107, 107, 107);
  color: white;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  width: 210px;
}

#chooseWishHover {
  position: relative;
}

#chooseWishHover:hover #wishDropdownContent {
  display: block;
  position: fixed;
}

#wishDropdownContent div:hover {
  background-color: rgb(158, 158, 158);
}

#wishDropdownContent div {
  padding: 20px;
  padding-left: 20px;
  cursor: pointer;
  margin: -10px;
}
#filterAndSortWishes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#chooseWishHover > button {
  width: 210px;
  justify-content: center;
}

body
  > div.MuiDialog-root
  > div.MuiDialog-container.MuiDialog-scrollPaper
  > div
  > div.MuiDialogActions-root.MuiDialogActions-spacing {
  justify-content: center;
  margin-bottom: 10px;
}

#createWishBoxItems1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-items: center;
}

#createWishBoxItems1 .wishListCreateBox {
  margin-top: 10px;
}

#costAndCategory {
  display: flex;
  flex-direction: row;
  align-content: center;
}

#withdrawButton {
  margin-top: 15px;
  margin-right: 10px;
}
