@import url('./style/signUp.css');
@import url('./style/login.css');
@import url('./style/joinCreateFamily.css');
@import url('./style/navbar.css');
@import url('./style/chores.css');
@import url('./style/wishList.css');

@font-face {
  font-family: main;
  src: url('/public/fonts/PierSans-Regular.otf');
}

* {
  font-family: main;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.passwordInput {
  font-family: helvetica;
}

#content {
  margin-top: 4rem;
  height: 100%;
  width: 100%;
}
