@import url('./style/signUp.css');
@import url('./style/login.css');
@import url('./style/joinCreateFamily.css');
@import url('./style/navbar.css');
@import url('./style/chores.css');
@import url('./style/wishList.css');
@import url('./style/plaidLink.css');
@import url('./style/createCard.css');
@import url('./style/home.css');
@import url('./style/chatroom.css');
@import url('./style/notifications.css');
@import url('./style/emailForm.css');
@import url('./style/transactions.css');
@import url('./style/parentLandingPage.css');

@font-face {
  font-family: main;
  src: url('/public/fonts/PierSans-Regular.otf');
}

@font-face {
  font-family: mainBold;
  src: url('/public/fonts/PierSans-Bold.otf');
}

* {
  font-family: main;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  /* background: url('/public/images/testbg copy.jpg') repeat 0 0;
  background-size: cover;
  */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.passwordInput {
  font-family: helvetica;
}

#mainAppContent {
  margin-top: 4rem;
  height: 100%;
  width: 100%;
}

/* DUMMY PAGE STYLE */

#dummy {
  display: flex;
  margin: 50px;
  flex-direction: row;
  justify-content: space-evenly;
}

.dummyColors {
  display: flex;
  flex-direction: row;
}

.dummyColors > div {
  margin: 10px;
}

#parentPrimary div {
  width: 40px;
  height: 30px;
}

#parentPrimary .light {
  background-color: #e6f2f9;
}

#parentPrimary .main {
  background-color: #c9d4db;
}

#parentPrimary .dark {
  background-color: #b4bfc6;
}

#parentSecondary div {
  width: 40px;
  height: 30px;
}

#parentSecondary .light {
  background-color: #62efff;
}

#parentSecondary .main {
  background-color: #00bcd4;
}

#parentSecondary .dark {
  background-color: #008ba3;
}

#kidPrimary div {
  width: 40px;
  height: 30px;
}

#kidPrimary .light {
  background-color: #7fc8ff;
}

#kidPrimary .main {
  background-color: #3e98ff;
}

#kidPrimary .dark {
  background-color: #006bcb;
}

#kidSecondary div {
  width: 40px;
  height: 30px;
}

#kidSecondary .light {
  background-color: #ff5993;
}

#kidSecondary .main {
  background-color: #ef0066;
}

#kidSecondary .dark {
  background-color: #b6003c;
}

/*
'#3e98ff', */
